<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salamone - Detalle</title>
</head>
<body>
     <!-- indica la cabecera de la pagina -->
     <header>
        <!-- representar un menu -->
        <nav>
            <div>
                <p>Logo ⛪</p>
            </div>
            <!-- lista ordenada -->
            <!-- <ol>
                <li>Rutas del Sur</li>
                <li>Rutas del Oeste</li>
                <li>Rutas del Norte</li>
                <li>Rutas de Centro</li>
            </ol> -->
            <!-- listas desordenadas -->
            <ul>
                <!-- link con referncia externa a la pagina -->
                <li>
                <a href="https://www.lanacion.com.ar/turismo/viajes/la-ruta-del-futurismo-bonaerense-nid2208006/" target="_blank">Ruta Salamone</a>
            </li>
            <li>
                    <a href="#Florencia Di Paolo" target="_blank">Rutas del Sur</a>
                </li>
                    <li>
                        <a href="./templates/register.html" target="_blank">Rutas del Oeste</a>
                    </li>
                                       
                <li>
                    <a href="#Alejandro Gomez Monzon " target="_blank">Rutas del Norte</a>
                    </li>
                <li>
                    <a href="#Patricia Ratto" target="_blank">Rutas de Centro</a>
                    </li>
            </ul>
        </nav>
    </header>
    <main>
      <section id="banner-Salamone">
        <div>
            <img src="../static/img/Municipalidad de Coronel Pringles.jpg" alt="imagen de la Municipalidad de Coronel Pringles">
                      
        </div>
        <div>
            <h2>Municipalidad de Coronel Pringles</h2>
        </div>
      </section>
       <section id="more- info">
        <!-- Incrustar en un marco una pagina externa -->
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tSX1xWwCtHg?si=YDP9CFpK8Rl2REFj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>

            </iframe>

            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1643.375956342071!2d-58.466565599999996!3d-34.5345129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7ee09aed903%3A0x725808ce68511922!2sEdificio%20Obra%20de%20Francisco%20Salamone!5e0!3m2!1ses-419!2sar!4v1711920106882!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe> -->
            <!-- pide si o si un iframe y comenta el iframe de google maps-->
        </div>
        <div>
            <table border="2">
                <thead>
                    <tr>
                        <th colspan="2">Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Fuentes</strong></td>
                        <td>(SCA), (UNC)</td>
                    </tr>
                    <tr>
                        <td><strong>La Formacion</strong></td>
                            
                        <td>
                            (Europa), (UNC)
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Primeros Pasos</strong></td>
                        <td>
                            Cordoba
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Obras</strong></td>
                        <td>
                            Municipales
                        </td>
                    </tr>
                </tbody>

            </table>
            <!-- <table border="2"> -->
                <!-- para crear la cabecera de la tabla -->
                <!-- <thead>
                    <tr>

                        <th>Nombre</th>       
                        <th>Apellido</th>         
                        <th>Email</th>
                    </tr>
                    
                </thead> -->
                <!-- p/crear el cuerpo de la tabla-->
                <!-- <tbody> -->
                    <!-- filas -->
                    <!-- <tr> -->
                        <!-- Columnas -->
                        <!-- <td>Anabella</td>
                        <td>Sessa</td>
                        <td>anasessa@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Anabella2</td>
                        <td>Sessa2</td>
                        <td>anasessa2@gmail.com</td>
                    </tr> -->
                    <!-- <tr>
                        <td>Anabella3</td>
                        <td>Sessa3</td>
                        <td>anasessa3@gmail.com</td>
                    </tr>
                </tbody>
            </table> -->
        </div>

       </section>            
    </main>
    
    <!-- indica el pie de la pagina -->
    <footer>

    </footer>
    <!-- <p> para poner un texto</p> -->
    <!-- <br> es para saltar lineas -->
</body>
</html>
</body>
</html>